body{
    background-color: black;
    color: #738aba;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-weight: bolder;
    font-size: 60px;
}